{% extends "home/index.html" %}
{% load static %}

{% block changingContent %}
    <h1>Acerca de mí</h1>
    <div>
        <p>Hola!!! <br><br>
            Mi nombre es Agustin Peña, tengo 22 años y estoy aprendiendo a programar. <br>
            Me empecé a interesar en el mundo de la programación hace unos años por unos videos que vi en YouTube y quede fascinado, pero no tenía tiempo para practicarlo ya que estaba estudiando agronomía en la universidad nacional de Córdoba y no me daban los tiempos. <br>
            Hace unos meses casi un año fue cuando me puse las pilas con la programación y me vi unos videos acerca de python y desarrollo web, ahí fue cuando decidí inscribirme en este curso del cual aprendí un montón como podrán ver en la página que están situados. 
            </p>
    </div>
{% endblock %}