{% extends "home/index.html" %}
{% load static %}

{% block changingContent %}
    <div>
        {% if searched %}
            <h1>Estos son los resultados de "{{ searched }}"</h1>
            <br><br>
            <ul>
                {% for serie in series %}
                <li>
                    {{serie.name}}
                    (
                        <a href="{% url 'series:series-detail' serie.id %}">
                            <i class="fa fa-eye" style="color: rgb(0, 0, 255);"> </i>
                        </a>
                {% if user.is_superuser %}
                |
                <a href="{% url 'series:series-update' serie.id %}">
                    <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"> </i>
                </a>
                |
                <a href="{% url 'series:series-delete' serie.id %}">
                    <i class="fa fa-trash" style="color: rgb(214, 6, 6);"> </i>
                </a>
                {% endif %}
                )
                </li>
                {% endfor %}
            </ul>
            <p class="btn btn-secondary"><a href="{% url 'series:series-list'%}">Regresar..</a></p>
        {% else %}
            <h1>No buscaste nada</h1>
            <p class="btn btn-secondary"><a href="{% url 'series:series-list'%}">Regresar..</a></p>
        {% endif %}
    </div>
{% endblock %}